<div class="user-item" *ngFor="let user of users">
    <div class="user-item__avatar">
        <img class="user-item__img" src="assets/images/avatar.png" alt="User Picture">
    </div>

    <div class="user-item__information">
        <div class="user-item__name">
            {{user.first_name}} {{user.last_name}}
        </div>

        <div class="user-item__username">
            {{user.username}}
        </div>

        <div class="user-item__location">
            <div class="user-item__country" *ngIf="user.location_country !== ''">
                {{user.location_country}}
            </div>
            <div class="user-item__city" *ngIf="user.location_city !== ''">
                , {{user.location_city}}
            </div>
        </div>

        <div class="user-item__date-registration">
            {{user.date_registration}}
        </div>

        <div class="user-item__status" *ngIf="user.status == 3; else activeUser">Заблокирован</div>

        <ng-template #activeUser>
            <div class="user-item__status--active">Активный</div>
        </ng-template>
    </div>


    <button class="user-item__block" (click)="changeUserStatus(user)" title="Заблокировать пользователя"
    *ngIf='user.status != 3; else unblockButton'>
        <i class="user-item__block-button fa fa-ban"></i>
    </button>

    <ng-template #unblockButton>
        <button class="user-item__unblock" (click)="changeUserStatus(user)" title="Разблокировать пользователя">
            <i class="user-item__unblock-button fa fa-unlock"></i>
        </button>
    </ng-template>
</div>
